@model Shop1.ViewModels.BookDetails

@{
    ViewBag.Title = "BookDetails";
}

<h2>@Html.DisplayFor(model => model.Book_name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Authors)</h4>
    
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Book_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pub_house)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pub_house)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_age_categ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_age_categ)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Genres)

        <dd>
            @Html.DisplayFor(model => model.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book_price)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "EditBook", new { id = Model.Book_id }) |
    @Html.ActionLink("Назад", "ListOfBooks")
</p>
